Solve the provided Bongard Problem. Respond in json using the following format.
EXAMPLE START
RESPONSE
{
    "concept": "small vs big",
    "first": {
        "explanation": "The test image shows a small shape, similarly as all images on the left side. Conversely, the images on the right side feature big shapes.",
        "answer": "LEFT"
    },
    "second": {
        "explanation": "The test image shows a big shape, similarly as all images on the right. The images on the left, on the other hand, feature small shapes.",
        "answer": "RIGHT"
    }
}
EXAMPLE END
